.search-form {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: center;
  }

  .search-form_input {
    font-family: math;

    @media (max-width: 650px) {
      font-size: 90%;
    }
  }
}
