@import '../../App.scss';

.header {
  @include flex-positioning(space-between);
  border-bottom: 1px solid black;
  background-color: #d3d3d3;
  margin-bottom: 20px;
  padding: 0 15px;
  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 0.9;

  .header_title {
    @include position-center;
    font-size: 350%;
    margin: 0;

    @media (max-width: 900px) {
      position: static;
      transform: translate(0);
      font-size: 200%;
    }
  }
}

.header_search-container {
  @include flex-positioning;
}

.header_logo-img {
  max-width: 100px;

  @media (max-width: 1200px) {
    max-width: 60px;
  }
}
