.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-top: auto;
  min-height: 150px;
  border-top: 1px solid black;
  padding: 0 15px;

  .footer_rs-logo {
    width: 200px;
    transition: all 0.2s ease-out;
    &:hover {
      transform: rotate(5deg) translate(10px);
    }
  }

  .footer_author-link,
  .footer_api {
    font-size: 150%;
    position: relative;
  }

  .footer_author-link {
    &::before {
      content: ' ';
      position: absolute;
      top: 0px;
      right: -30px;
      width: 25px;
      height: 25px;
      background: url('../../assets/github.svg') no-repeat center / cover;
    }
  }
}
