@import '../../App.scss';
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 1fr;
  padding: 15px;
  position: relative;

  .content_item {
    @include flex-positioning(start);
    @include full-border-black;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      z-index: 2;
      scale: 1.02;
      overflow: hidden;
    }

    .content_item__picture {
      @include full-size;
      object-fit: cover;
      border-radius: 5px;
      aspect-ratio: 1 / 1;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
